.App {
  text-align: center;
}
body {
  background-color: rgb(42, 15, 59);
  color: #fff;
  font: 14px "Century Gothic", Futura, sans-serif;
  font-size: 40px;
  margin: 20px auto;
}

ol,
ul {
  padding-left: 30px;
}

hr {
  background-color: rgba(42, 15, 59);
  background-image: linear-gradient(
    to right,
    rgba(42, 15, 59, 0),
    rgba(253, 243, 188),
    rgba(42, 15, 59, 0)
  );
  margin: auto auto;
  width: 75%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  color: rgb(253, 243, 188);
  margin-bottom: 10px;
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  color: rgb(22, 1, 36);
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 70px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}
